<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client</title>
    <link rel="stylesheet" href="../app/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../app/bootstrap/css/bootstrap-theme.min.css"/>
    <script src="../app/bootstrap/js/bootstrap.min.js"></script>
    <script src="../app/jquery/jquery.min.js"></script>
</head>
<body>

    <div class="panel">
        <div class="panel-body" id="grid"></div>
    </div>

    <script>
        $.ajax({
            url: "http://backend.com/client/getall",
            success: function(data) {
                console.log('well done');
            },
            failure: function(error) {
                console.log('failure');
            }
        })
    </script>

</body>
</html>